<div id="apropos-credits">
  <h3>Crédits</h3>
  <p>Directrice de la publication&nbsp;: Laure&nbsp;Barthet, conservateur du Patrimoine, directrice du musée Saint-Raymond, musée d'Archéologie de Toulouse</p>
  <p>Auteurs des textes&nbsp;: Pascal&nbsp;Capus, responsable des collections de sculptures romaines et numismatiques. Texte d'introduction de la partie 3 écrit en collaboration avec Chloé&nbsp;Damay, doctorante en archéologie. Certaines notices relatives aux portraits ont été rédigées à partir des travaux de Jean-Charles&nbsp;Balty, Daniel&nbsp;Cazes et Emmanuelle&nbsp;Rosso.</p>
  <p>Développement du système de publication&nbsp;: <a href="https://www.quaternum.net/">Antoine&nbsp;Fauchié</a></p>
  <p>Conception graphique et interactive, développement web&nbsp;: <a href="http://julie-blanc.fr/">Julie&nbsp;Blanc</a></p>
  <p>Photographies&nbsp;: Daniel&nbsp;Martin</p>
  <p>Coordination éditoriale&nbsp;: Christelle&nbsp;Molinié, responsable des ressources documentaires</p>
  <p>Infographie du plan de la villa Chiragan (introduction)&nbsp;: Pierre&nbsp;Pisani (Service archéologique de Toulouse Métropole) et Emanuelle&nbsp;Guillemot, mise en intéraction par Julie&nbsp;Blanc</p>
  <p>Typographies&nbsp;: Orkney par Hanken&nbsp;Design&nbsp;Co., Bellaza par Eduardo&nbsp;Tunni"</p>
  <a id="logo-mairie-toulouse" href=""><img src="/images/logo-mairie-Toulouse.png"></a>
  <a id="logo-MSR" href=""><img src="/images/logo-MSR.png"></a>
  <h3>Citer cet ouvrage</h3>
  <p><span class="caps">{{ site.author.name_id }}</span>, <em>{{ site.title_complet }}</em>, {{ site.place }}, {{ site.date }}, en ligne <{{ site.url }}>.<br>
  {{ site.isbn_numerique }}</p>
  <h3>Téléchargements</h3>
  <p><a href="/villa-chiragan-donnees-export.csv">Données des notices sous forme de tableur (CSV, 24 Ko)</a></p>
  <p><a href="/villa-chiragan-images.zip">Ensemble des images des notices (JPG, 660 Mo)</a></p>
  <h3>Sources du catalogue</h3>
  <p>Les sources du catalogue, contenus et système de publication, sont disponibles en ligne&nbsp;: <a href="https://gitlab.com/musee-saint-raymond/villa-chiragan/">https://gitlab.com/musee-saint-raymond/villa-chiragan/</a></p>
</div>
