<footer id="footer">
    <div id="description">
        <p><a href="https://www.ifao.egnet.net/"><img src="/balat/images/Logo-IFAO.png"/></a></p>
        
         <p><a href="https://www.hisoma.mom.fr/"><img src="/balat/images/Logo_HiSoMA_Blanc.png"/></a></p>
         <p><a href="https://www.univ-lyon2.fr/"><img src="/balat/images/Logo_Lyon2_Blanc.png"/></a></p>
         <p><a href="https://www.universite-lyon.fr/"><img src="/balat/images/Logo_UDL_blanc.png"/></a></p>
    </div>

    <div id="liens-footer">
      <p><a href="/balat/en-savoir-plus">Pour en savoir plus…</a></p>
      <p><a href="/balat/credits-contacts">Crédits,&nbsp;versions,&nbsp;contacts</a></p>
    </div>

  </div>


</footer>

</body>
</html>
