  <header id="main-header">
    <section id="section-navigation">
      <input type="radio" id="open-menu" name="toggle-menu" value="open">
      <label id="label-open-menu" for="open-menu">{% include icons/menu.svg %}</label>
      <nav id="nav-catalogue" >
        <input type="radio" id="close-menu" name="toggle-menu" value="close" checked>
        <label for="close-menu" id="label-close-menu">{% include icons/close.svg %}</label>
      <h1><a href="{{ site.url }}/balat/">{{ site.title }}</a></h1>
  
      <ul>
        {% for contenus in site.contenus %}{% if contenus.type == "partie" and contenus.partie_numero == 1 %}<li class="li-nav-chapter {% if page.partie == 1 %}current{% endif %}">
          <a href="{{ site.url }}/balat/{{ contenus.slug }}"><span class="title-partie">{{ contenus.partie_numero }}. {{ contenus.title }}</span><span class="subtitle-partie">{{ contenus.sous_titre }}</span></a>
        </li>{% endif %}{% endfor %}
        {% for contenus in site.contenus %}{% if contenus.type == "partie" and contenus.partie_numero == 2 %}<li class="li-nav-chapter {% if page.partie == 2 %}current{% endif %}">
          <a href="{{ site.url }}/balat/{{ contenus.slug }}"><span class="title-partie">{{ contenus.partie_numero }}. {{ contenus.title }}</span><span class="subtitle-partie">{{ contenus.sous_titre }}</span></a>
        </li>{% endif %}{% endfor %}
        {% for contenus in site.contenus %}{% if contenus.type == "partie" and contenus.partie_numero == 3 %}<li class="li-nav-chapter {% if page.partie == 3 %}current{% endif %}">
          <a href="{{ site.url }}/balat/{{ contenus.slug }}"><span class="title-partie">{{ contenus.partie_numero }}. {{ contenus.title }}</span><span class="subtitle-partie">{{ contenus.sous_titre }}</span></a>
        </li>{% endif %}{% endfor %}
        {% for contenus in site.contenus %}{% if contenus.type == "partie" and contenus.partie_numero == 4 %}<li class="li-nav-chapter {% if page.partie == 4 %}current{% endif %}">
          <a href="{{ site.url }}/balat/{{ contenus.slug }}"><span class="title-partie">{{ contenus.partie_numero }}. {{ contenus.title }}</span><span class="subtitle-partie">{{ contenus.sous_titre }}</span></a>
        </li>{% endif %}{% endfor %}
        <li class="li-nav-aside {% if page.def == "bibliographie" %}current{% endif %}" id="link-bilio"><a href="{{ site.url }}/balat/bibliographie"><span class="title-partie">Bibliographie</span></a></li>
        <li class="li-nav-aside {% if page.def == "a_propos" %}current{% endif %}"><a href="{{ site.url }}/balat/a-propos"><span class="title-partie">À propos</span></a></li>
        <li class="li-nav-aside {% if page.def == "mentions_legales" %}current{% endif %}"><a href="{{ site.url }}/balat/mentions-legales"><span class="title-partie">Mentions légales</span></a></li>
        <li class="li-nav-aside {% if page.def == "contact" %}current{% endif %}"><a href="{{ site.url }}/balat/contact"><span class="title-partie">Contact</span></a></li>
      </ul>
    </nav>
      <nav id="nav-chemin">
        <ul>
          <li><span><a href="{{ site.url }}/balat/">⌂ Accueil</a></span></li>
         {% if page.type == "partie" %}
         <li><span>
           {{page.title}}
         
          </span></li>
        {% else %}
      
        {% if page.partie == 1 %}<li><span><a href="/balat/{% for contenus in site.contenus %}{% if contenus.type == "partie" and contenus.partie_numero == 1 %}{{ contenus.slug }}{% endif %}{% endfor %}">Les scellés</a></span></li>{% endif %}
          {% if page.partie == 2 %}<li><span><a href="/balat/{% for contenus in site.contenus %}{% if contenus.type == "partie" and contenus.partie_numero == 2 %}{{ contenus.slug }}{% endif %}{% endfor %}">Les empreintes</a></span></li>{% endif %}
          {% if page.partie == 3 %}<li><span><a href="/balat/{% for contenus in site.contenus %}{% if contenus.type == "partie" and contenus.partie_numero == 3 %}{{ contenus.slug }}{% endif %}{% endfor %}">Partie 3</a></span></li>{% endif %}
          {% if page.partie == 4 %}<li><span><a href="/balat/{% for contenus in site.contenus %}{% if contenus.type == "partie" and contenus.partie_numero == 4 %}{{ contenus.slug }}{% endif %}{% endfor %}">Partie 4</a></span></li>{% endif %}
	{% endif %}


         {% if page.type == "empreinte" %}<li><span>{{ page.title }}</span></li>{% endif %}{% if page.type == "statique" %}<li><span>{{ page.title }}</span></li>{% endif %}
        </ul>
      </nav>
      <nav id="nav-parties">
       
        {% if page.type == "empreinte" and page.partie == 2 %}<ul>{% assign  document = site.contenus | sort: "order" | where:"type","empreinte" | where:"partie","2" %}{% for links in document %}{% if links.id_notice == page.id_notice %}{% unless forloop.first %}{% assign prevurl = prev.url %}
          {% assign prevtitle = prev.title %}{% endunless %}{% unless forloop.last %}{% assign next = document[forloop.index] %}{% assign nexturl = next.url %}{% assign nexttitle = next.title %}{% endunless %}{% endif %}{% assign prev = links %}{% endfor %}{% if prevurl or nexturl %}
  <li>{% if prevurl %}<a href="/balat{{prevurl}}"><span>←</span><span class="nav-partie"> Notice précédente</span></a>{% endif %}</li>
  <li>{% if nexturl %}<a href="/balat{{nexturl}}"><span class="nav-partie">Notice suivante </span><span>→</a>{% endif %}</li>{% endif %}
        </ul>{% endif %}{% if page.type == "notice" and page.partie == 3 %}<ul>{% assign  document = site.contenus | sort: "order" | where:"type","notice" | where:"partie","3" %}{% for links in document %}{% if links.id_notice == page.id_notice %}{% unless forloop.first %}{% assign prevurl = prev.url %}
          {% assign prevtitle = prev.title %}{% endunless %}{% unless forloop.last %}{% assign next = document[forloop.index] %}{% assign nexturl = next.url %}{% assign nexttitle = next.title %}{% endunless %}{% endif %}{% assign prev = links %}{% endfor %}{% if prevurl or nexturl %}
  <li>{% if prevurl %}<a href="/balat{{prevurl}}"><span>←</span><span class="nav-partie"> Notice précédente</span></a>{% endif %}</li>
  <li>{% if nexturl %}<a href="/balat{{nexturl}}"><span class="nav-partie">Notice suivante </span><span>→</a>{% endif %}</li>{% endif %}
        </ul>{% endif %}{% if page.type == "notice" and page.partie == 4 %}<ul>{% assign  document = site.contenus | sort: "order" | where:"type","notice" | where:"partie","4" %}{% for links in document %}{% if links.id_notice == page.id_notice %}{% unless forloop.first %}{% assign prevurl = prev.url %}
          {% assign prevtitle = prev.title %}{% endunless %}{% unless forloop.last %}{% assign next = document[forloop.index] %}{% assign nexturl = next.url %}{% assign nexttitle = next.title %}{% endunless %}{% endif %}{% assign prev = links %}{% endfor %}{% if prevurl or nexturl %}
  <li>{% if prevurl %}<a href="/balat{{prevurl}}"><span>←</span><span class="nav-partie"> Notice précédente</span></a>{% endif %}</li>
  <li>{% if nexturl %}<a href="/balat{{nexturl}}"><span class="nav-partie">Notice suivante </span><span>→</a>{% endif %}</li>{% endif %}
        </ul>{% endif %}
      </nav>
    </section>
  </header>
