$text-color: #444;
$text-color-fonce: #222;
// $text-color-very-light: #999;


$beige: rgb(242, 242, 234); 
$beige-border: #DEDED7;
$beige-hover: rgb(179, 179, 174);
$beige-fonce: #8F8F8A;
$background-site: white;

$text-color-very-light: $beige-fonce;