$margin-desktop: 50px;
$margin-phone: 20px;

$height-section-navigation: 60px;

$shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);


/* Page Notice */
$margin-notice-desktop: 30px;
$height-nav-desktop: 180px;
$width-nav-pad: 20vw;
$height-nav-phone: 80px;