---
layout: microtypo
---
<!DOCTYPE html>
{% assign images = page.images | split:","  %}
{% assign scelles = page.scelles | split:","  %}
{% assign contrescellements = page.contrescellement | split:","  %}
{% assign notes = page.notes | split:","  %}
{% include head.html %}
<body >
{% include header.html %}
		<main id="main-notice">
			<header>

					<p class="partie-notice">
						<a href="/balat/{% if page.partie == 1 %}{% for contenus in site.contenus %}{% if contenus.type == "partie" and contenus.partie_numero == 1 %}{{ contenus.slug }}{% endif %}{% endfor %}{% endif %}{% if page.partie == 2 %}{% for contenus in site.contenus %}{% if contenus.type == "partie" and contenus.partie_numero == 2 %}{{ contenus.slug }}{% endif %}{% endfor %}{% endif %}{% if page.partie == 3 %}{% for contenus in site.contenus %}{% if contenus.type == "partie" and contenus.partie_numero == 3 %}{{ contenus.slug }}{% endif %}{% endfor %}{% endif %}{% if page.partie == 4 %}{% for contenus in site.contenus %}{% if contenus.type == "partie" and contenus.partie_numero == 4 %}{{ contenus.slug }}{% endif %}{% endfor %}{% endif %}">
							
						<span class="title-partie">{% if page.partie == 1 %}Les scellés{% endif %}{% if page.partie == 2 %}Les sceaux{% endif %}</span>
						</a>
					</p>

				<h1>{{ page.title }}</h1>

			</header>
			<div id="hack-phone"></div>
			

		<section class="content-notice">
        <dl>
          	{% if page.donnees_biographiques1 == null %}{% else %}<div><dt>Données biographiques</dt><dd>{{ page.donnees_biographiques1 }}{% if page.donnees_biographiques2 == null %}{% else %}<br>{{ page.donnees_biographiques2 }}{% endif %}</dd></div>{% endif %}
			{% if page.date_creation == null %}{% else %}<div><dt>Date de création</dt><dd>{{ page.date_creation }}{% endif %}</dd></div>
			{% if page.type_oeuvre == null %}{% else %}<div><dt>Type</dt><dd>{{ page.type_oeuvre }}</dd></div>{% endif %}
         
          	{% if page.type_sceau == null %}{% else %}<div><dt>Type</dt><dd>{{ page.type_sceau }}</dd></div>{% endif %}
   
         	{% if page.categorie == null %}{% else %}<div><dt>Catégorie</dt><dd>{{ page.categorie }}</dd></div>{% endif %}
{% if page.motif == null %}{% else %}<div><dt>Motif</dt><dd>{{ page.motif }}</dd></div>{% endif %}
          	{% if page.texte_sceau == null %}{% else %}<div><dt>Texte</dt><dd><span class="transliteral">{{ page.texte_sceau }}</span></dd></div>{% endif %}
      		{% if page.traduction_sceau == null %}{% else %}<div><dt>Traduction</dt><dd>{{ page.traduction_sceau }}</dd></div>{% endif %}
        	
     		{% if page.roi == null %}{% else %}<div><dt>Roi</dt><dd>{{ page.roi }}</dd></div>{% endif %}
         	


			{% if page.nature_empreinte == null %}{% else %}<div><dt>Nature du marquage</dt><dd>{{ page.nature_empreinte }}</dd></div>{% endif %}
			{% if page.type_empreinte == null %}{% else %}<div><dt>Type(s) de marque(s) conservée(s)</dt><dd>{{ page.type_empreinte }}</dd></div>{% endif %}

        	{% if page.remarque == null %}{% else %}<div><dt>Remarques</dt><dd>{{ page.remarque }}</dd></div>{% endif %}

 			{% if page.emp_SEC_nom_secteur == null %}{% else %}<div><dt>Localisation</dt><dd>{{ page.emp_SEC_nom_secteur }}</dd></div>{% endif %}
 			{% if page.emp_US_us_nom == null %}{% else %}<div><dt>US</dt><dd>{{ page.emp_US_us_nom }}</dd></div>{% endif %}

{% if scelles.size > 0 %}
            <div><dt>Scellé{% if scelles.size > 1 %}s{% endif %}</dt><dd>
        	{% for scelle in scelles %}
            
        	<a href = "/balat/partie-01-les-scelles/scelle-{{ scelle }}">{{ scelle }}</a>&nbsp;-&nbsp;
			
  			{% endfor %}

                </dd></div>
             {% endif%}
            
            {% if contrescellements.size > 0 %}
           <div><dt>Contrescellement{% if contrescellements.size > 1 %}s{% endif %}</dt><dd>
        	{% for contrescellement in contrescellements %}
            
        	<a href = "/balat/partie-02-les-sceaux/sceau{{ contrescellement }}">{{ contrescellement }}</a>&nbsp;-&nbsp;
			
  			{% endfor %}

</dd>  </div>
             {% endif%}
            {% if notes.size > 0 %}
            <div><dt>Note{% if notes.size > 1 %}s{% endif %}</dt><dd>
        	{% for note in notes %}
            
        		
            <a href = "/balat/partie-03-les-notes-hieratiques/note-{{ note }}"><span class="info_sceau">{{ note }}
           </span><span class="img_sceau"> <img src="/balat/dessins-notes/{{ note }}.jpg" class="current-image" onerror="this.style.opacity=0;"></span>
            </a> <br/>    
                
  			{% endfor %}

</dd></div>
            {% endif%}

			
	</dl>

	</section>
		
			
			<section id="section-images" aria-label="Section contenant les images de la sculpture" data-nbr-img="{{images.size}}" data-current-img="1">
				<input type="radio" id="radio-360viewer" name="action-notice" value="360viewer" hidden>
				<input type="radio" id="radio-diapo" name="action-notice" value="diapo" hidden>
				<input type="radio" id="radio-zoom" name="action-notice" hidden value="zoom">
				<input type="radio" id="radio-grid" name="action-notice" hidden value="grid" checked>
				<div id="all-buttons">
					<div class="button-group" id="buttons-slider-choice">
						<button id="button-viewer360" aria-label="Vue 360° (cliquer sur l'image et bouger)" onclick="display360('/images/{{ page.id_notice }}-',8)">{% include icons/360-degree.svg %}</button>
						<button id="button-diapo" aria-label="Diaporama" onclick="displayDiapo('/balat/images/{{ page.id_notice }}-',8)">{% include icons/slideshow.svg %}</button>
					</div>

					<div class="button-group" id="buttons-panzoom">
						<button class="zoom-in" aria-label="Zoomer" onclick="toggleZoom()">{% include icons/plus.svg %}</button>
						<button class="zoom-out" aria-label="Dézoomer">{% include icons/moins.svg %}</button>
						<button class="reset" aria-label="Reset Zoom" onclick="resetRadio()">{% include icons/reset.svg %}</button>
					</div>
					<div class="button-group">
						<a id="download-image" data-path="/balat/images/{{ page.id_notice }}" href="/balat/images/{{ page.id_notice }}.jpg" download><button id="button-download-all-images" aria-label="Télécharger l'image affichée">{% include icons/download.svg %}</button></a>
					</div>
				</div>
				<div id="threesixty" class="parent images-id">
						<div id="zoom-container" class="panzoom-parent">
							<div id="spinner">
									<span>0%</span>
							</div>
							<div id="all_images" class="panzoom">
                            <div><img src="/balat/dessins/{{ page.id_sceau }}.jpg" class="current-image" srcset="" sizes="" data-num-img="1" onerror="this.style.display='none'" onclick='window.open("/balat/dessins/{{ page.id_sceau }}.jpg","{{ page.id_sceau }}")'></div>
                            </div>
						</div>					
				</div>

				
			</section>

		</main>
{% include footer.html %}


